/.metadata
/andors-trail-editor/.settings
/andors-trail-editor/bin
/andors-trail-editor/gen
/andors-trail-editor/.project
/andors-trail-editor/.classpath
/HoloEverywhere-1.6.0
/parser-test
/unicode-abnf-classes
